<div class="row col0">
  <div class="col col1">
    <div class="row">
      <div class="col">
        <div class="card card0">
        <!-- <img class="card-img-top" src="#" alt="Some image"> -->
        <div class="card-body">
          <h5 class="card-title">Sample Live Stocks</h5>
          <ul class="list-group list-group-flush" id ="LiveStocks">
              <li class="list-group-item">----</li>
              <li class="list-group-item">----</li>
              <li class="list-group-item">----</li>
            </ul>
          <!-- <p class="card-text">The SENSEX increased 3155 points or 8.70% since the beginning of 2019, according to trading on a contract for difference (CFD) that tracks this benchmark index from India. Historically, the India SENSEX Stock Market Index reached an all time high of 40267.62 in June of 2019 and a record low of 113.28 in December of 1979.</p> -->
        </div>
        <div class="card-footer">
          <small class="text">Pls contact bluemoon@blueportfolio.in for any problem with live data</small>
        </div>
      </div></div>
      <div class="col col2">
        <div class="card card1">
        <div class="card-body">
          <h5 class="card-title">Market Indices</h5>
          <ul class="list-group list-group-flush" id = "MarketIndex">
              <li class="list-group-item">----</li>
              <li class="list-group-item">----</li>
              <li class="list-group-item">----</li>
              <li class="list-group-item">----</li>
            </ul>
        </div>
        <div class="card-footer">
          <small class="text">Pls contact bluemoon@blueportfolio.in for any problem with live data</small>
        </div>
      </div></div>
    </div>
    <div class="row col3">
      <div class="col">
        <div class="card card2">
        <div class="card-body">
          <h5 class="card-title">Global Indices</h5>
          <ul class = "list-group list-group-flush" id = "GlobalIndex">
            <li class = "list-group-item">-----</li>
            <li class = "list-group-item">-----</li>
            <li class = "list-group-item">-----</li>
            <li class = "list-group-item">-----</li>
            <li class = "list-group-item">-----</li>
          </ul>
        </div>
        <div class="card-footer">
          <small class="text">Pls contact bluemoon@blueportfolio.in for any problem with live data</small>
        </div>
      </div></div>
    </div>
  </div>
  <div class="col">
    <div class="row col4">
      <div class="col">
        <div class="card card3">
        <img class="card-img-top" src="#" alt="Some image">
        <div class="card-body">
          <h5 class="card-title">Latest Market Update</h5>
          <p class="card">The SENSEX increased 3155 points or 8.70% since the beginning of 2019, according to trading on a contract for difference (CFD) that tracks this benchmark index from India. Historically, the India SENSEX Stock Market Index reached an all time high of 40267.62 in June of 2019 and a record low of 113.28 in December of 1979.</p>
        </div>
        <div class="card-footer">
          <small class="text">Some text goes here</small>
        </div>
      </div></div>
    </div>
    <div class="row col5">
      <div class="col">
        <div class="card card4">
        <img class="card-img-top" src="#" alt="Some image">
        <div class="card-body">
          <h5 class="card-title">High & Low</h5>
          <p class="card-text">The SENSEX increased 3155 points or 8.70% since the beginning of 2019, according to trading on a contract for difference (CFD) that tracks this benchmark index from India. Historically, the India SENSEX Stock Market Index reached an all time high of 40267.62 in June of 2019 and a record low of 113.28 in December of 1979.</p>
        </div>
        <div class="card-footer">
          <small class="text">Some text goes here</small>
        </div>
      </div></div>
    </div>
  </div>
</div>
