<div class="container">
  <div class="row">
    <div class="col-9">
        <div class="card card0">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Lorem, ipsum.</h5>
              <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere, distinctio. Officiis obcaecati, fugit, adipisci odio itaque asperiores enim et ullam perferendis cupiditate dignissimos minus ipsum repellendus quia.</p>
              <p class="card-text"><small>Lorem ipsum dolor sit amet consectetur adipisicing.</small></p>
            </div>
          </div>
    </div>
    <div class="col-3">
        <div class="card card1">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Lorem, ipsum.</h5>
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque alias esse veritatis nemo ad quia quae rerum repellat ipsa.</p>
              <p class="card-text"><small>Lorem, ipsum dolor.</small></p>
            </div>
          </div>
    </div>
  </div>
</div>
