<div class="container">
  <br>
  <form class="" action="/makefolio" method="post">
  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button" id="newportfolio">Add new portfolio...</button>
      </div>
      <input type="text" class="form-control" id="newfolio" name="folioname" placeholder="Enter your new portfolio name here ...." aria-label="Example text with button addon" aria-describedby="button-addon1">
  </div>
  </form>
  <!-- <div class="row">
    <div class="col">
      <div class=" card0">
        <div class="card-body">
          <h5 class="card-title">{{folioname}}</h5>
          <p class="card-text">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Scrip</th>
                  <th scope="col">Buy Price</th>
                  <th scope="col">Current Price</th>
                </tr>
              </thead>
            </table>
          </p>
          <p class="card-text"><small>For any mismatch, pls contact bluemoon@blueportfolio.in</small></p>
        </div>
      </div>
      </div>
      </div> -->





      <!-- <tbody>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody> -->
