<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Project_Bluemoon</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <style>
    .card0{
      height: 100vh;
    }


    </style>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="#">
              <img src="bluemoon.png" width="300" height="50" class="d-inline-block align-top" alt="bluemoon">
    
            </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="./Home.html">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="./myportfolio.html">My Portfolio <span class="sr-only">(current)</span></a>
                </li>
              <li class="nav-item">
                <a class="nav-link" href="./mywatchlist.html">My Watchlist</a>
              </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./marketnews.html">Market News</a>
            </li>
             
              <li class="nav-item active">
                <a class="nav-link" href="./login.html">Login</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
        <div class="row">
          <div class="col-9">
              <div class="container">
                  <div class=".col-xs-4 .col-md-offset-2">
                    <div class="panel panel-default panel-info Profile">
                      <div class="panel-heading"> My Profile </div>
                      
                      
                      <div class="panel-body">
                        <div class="form-horizontal">
                                    <form>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">First Name</label>
                                            <div class="col-sm-4">
                                                <input class="form-control" type="text" name="firstName"
                                                    placeholder="First Name" ng-model="me.firstName">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Last Name</label>
                                            <div class="col-sm-4">
                                                <input class="form-control" type="text" name="lastName"
                                                    placeholder="Last Name" ng-model="me.lastName">
                                            </div>
                                        </div>
                                        
                            <div class="form-group">
                                            <label class="col-sm-2 control-label">User Name</label>
                                            <div class="col-sm-4">
                                                <input class="form-control" type="text" name="department"
                                                    placeholder="Username" ng-model="me.email">
                                            </div>
                                        </div>
                            <div class="form-group">
                                            <label class="col-sm-2 control-label">Password</label>
                                            <div class="col-sm-4">
                                                <input class="form-control" type="text" name="title"
                                                    placeholder="Enter Password" ng-model="me.email">
                                            </div>
                                        </div>
                            <div class="form-group">
                                            <label class="col-sm-2 control-label">Re-enter Password</label>
                                            <div class="col-sm-4">
                                                <input class="form-control" type="text" name="startDate"
                                                    placeholder="re-enter password" ng-model="me.email">
                                            </div>
                                        </div>            
                            
                             
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Email</label>
                                            <div class="col-sm-4">
                                                <input class="form-control" type="text" name="email"
                                                    placeholder="Email" ng-model="me.email">
                                            </div>
                                        </div>        
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button class="btn btn-primary" ng-click="updateMe()">Register</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>  
                      </div> 
                
                    </div> 
                    
                
                  </div> 
                </div>
                

          </div>
          <div class="col-3">
              <div class="card card0">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Lorem ipsum dolor sit.</h5>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur odit beatae omnis facere perspiciatis distinctio cupiditate corporis officiis deleniti? Praesentium a consequuntur itaque odit rerum? Illum numquam eveniet quibusdam ut animi amet qui!</p>
                    <p class="card-text"><small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, quia!</small></p>
                  </div>
                </div>

          </div>
        </div>
        
            








    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous">
  </script>
  </body>
</html>
